#footer {
  background: #d10808;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  bottom: 0;
}
.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}
#footer .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#footer .copyright {
  border-top: 1px solid #0e0606;
  text-align: center;
  padding-top: 30px;
}
