<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">
     <h3>
       HIKARI CINEMA
     </h3>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"
            >
            <i class="fas fa-home"></i>
            Inicio
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/pelicula" routerLinkActive="active">
            <i class="fas fa-film"></i>
            Películas
          </a>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/producto" routerLinkActive="active">
              <i class="fas fa-hamburger"></i>
              Productos
            </a>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/funcion" routerLinkActive="active">
            <i class="fas fa-video"></i>
            Funcion
          </a>
        </li>
        <li class="nav-item active">
          <a
            class="nav-link"
            routerLink="/home/acercade"
            routerLinkActive="active"
            >
            <i class="fas fa-paw"></i>
            Acerca de</a>
        </li>
      </ul>
    </div>

    <div class="navbar-brand navbar-right">
      <span class="navbar-text">
        Usuario
      </span>
      <a class="btn btn-secondary btn-sm" href="#"
        ><i class="fas fa-user"></i> Ingresar</a
      >

      <a class="btn btn-secondary btn-sm" href="#"
        ><i class="fas fa-sign-out-alt"></i> Salir</a
      >
    </div>
  </nav>
</header>
