<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-11 py-4">
      <h4 class="text-black">Sobre Nosotros</h4>
      <br/>
      <div class="container" style="left: 200;">
        <img src="/assets/img/img2.jpg" width="500" height="250"/>
      </div>
      <br/>
      <p class="text-muted">
        Somos una empresa inspirada en los años 50's,
        recordando los buenos momentos que se vivieron en esa época.
        <br/>
        <br/>
        <i class="fas fa-paw"></i> <i class="fas fa-heart"></i>
        <br/>
        Somos 100% pet friendly, ya que las mascotas también forman parte de
        nuestras familias.
      </p>
      <br/>
      <i class="fas fa-laptop-code"></i>
      <br/>
      <br/>
      <p class="text-muted">
        Desarrolladores: Sharon Sandí - Ana Calvo
      </p>
    </div>
  </div>
</div>
